{% extends "base.html" %}
{% load static %}
{% load dict_tag %}

{% block prize %}

<!-- <h2> 獎項超級多 </h2>
<ul>
    {% for p in prize_list %}
    <div>{{p.pid}}, {{p.cname}}</div>

    {% load static %}
    <img src="{% static 'images/kakka.png' %}" alt="kakka">; 

    {% endfor %}
</ul> -->


<!-- <ul>
    {% for p, winners in winner_dict.items %}
    <li>{{p}}:
        {% for w in wwinners %} {{w}} {% endfor %} </li>
    {% endfor %}
    </li>
</ul> -->

<div class="row" id="winner_list">
    {% for p, winners in winner_dict.items %}
    <div class='col-6 col-sm-4 col-md-3'>
        <div class="logo div">
            <img src="{% static 'images/xx.png' %}" alt=" {{p}}" class="img-fluid">
        </div>

        <div class="winner-list container">
            <p> {{ winner_map | get_value_from_dict:p}} </p>

            {% for w in winners %} <div class="winner">{{w}} </div>{% endfor %}
        </div>
    </div>
    {% endfor %}

    {% endblock %}